.toolDot {
  display: flex;
  flex-direction: column;
  margin-bottom: 20px;
}

.toolName {
  font-size: 2rem;
}

.toolCreatedAt {
  font-size: 1.2rem;
  margin-bottom: 12px;
}

.toolDescription {
  color: grey;
}
